<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"> Movies List </ion-title>
  </ion-toolbar>
  <div>
    <ion-item>
      <ion-spinner *ngIf="loading" slot="end" name="dots"></ion-spinner>
      <ion-input
        placeholder="Search Movie"
        (input)="searchMovie($event.target.value)"
      ></ion-input>
    </ion-item>
  </div>
</ion-header>

<ion-content>
  <ion-item-group
    style="display: flex; flex-wrap: wrap; justify-content: center"
  >
    <ion-card
      *ngFor="let movie of moviesList"
      style="max-width: 350px !important"
      [routerLink]="['home-detail', movie.id]"
    >
      <img
        src="{{imgBaseUrl + movie.poster_path}}"
        alt="poster movie"
        style="max-width: 400px"
      />
      <ion-card-header>
        <ion-card-title>{{movie.title}}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-item-group>
</ion-content>
